<div class="slides">
  <iframe src="//slides.com/railsdecal/week-1-intro--2/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </iframe>
</div>
