<div class="slides">
  <iframe src="//slides.com/railsdecal/lecture-8-idea-to-app/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </iframe>
</div>
