# Example database.yml file
# After filling in your username and password, rename this file to database.yml

development:
  adapter: postgresql
  database: decal_development
  username: YOUR_USERNAME
  password: YOUR_PASSWORD
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  database: decal_test
  username: YOUR_USERNAME
  password: YOUR_PASSWORD
  pool: 5
  timeout: 5000

