| Hi there! I'm a fourth year Cal student studying EECS. I love building applications that improve the lives of people and helping others do the same. Outside of coding, I also enjoy playing board games, playing paddle sports, and learning new things!
