| Hi, I'm Howard, a CS major at UC Berkeley.  I was an intern at Salesforce last summer and will be working at Groupon on the Breadcrumb web team this summer.  I love teaching because I love the idea of passing on knowledge, and I also love Computer Science because it is super interesting and fun (or I just might be a huge nerd).  In my free time I like to just chill with my friends and go bouldering!
