| Hi, I'm Howard, a CS major at UC Berkeley and a software engineer at Salesforce.  I love teaching because I love the idea of passing on knowledge, and I also love Computer Science because it is super interesting and fun (or I just might be a huge nerd).  In my free time I like to just chill with my friends and catch up on my sleep!
