| Hi, I'm Jon. I'm a fourth year studying EECS here at UC Berkeley. I'm passionate about learning new technologies and frameworks as well as perfecting the way to cook gourmet instant ramen. In my free time I love watching, breathing, and playing basketball. Please come talk to me if you want to hear how the Lakers will become relevant again!
