| Hi , I’m Ken. I’m a junior CS student interested in using technology to improve medicine and medical administration. I also love to cook, and someday when I’ve got my act together I want to go hang gliding and skydiving.