| I am Mark, a Software Engineer, Teacher, and aspiring entrepreneur at UC Berkeley. At Yelp, I am a developer on the mobile team building a tool to analyze and visualize user interactions with the mobile apps. Teaching is one of my passions -- I've been teaching CS61A for many semesters! I am passionate about web development, startups, challenging problems, and smoothies. In my free time, I play soccer, longboard, and eat delicious food.
