| Hi, I'm Nhi. I'm a fourth year Computer Science student at Cal. I'm passionate about building new technologies that make people's lives easier and more efficient! Outside of school activities, I enjoy exploring new places to eat, traveling, and playing board games.
