| Hi, I'm Nhi. I'm a fourth year Computer Science student at Cal. I like solving hard problems with technology and learning new ways to make that process easier! I also enjoy exploring new places to eat, traveling, and watching unhealthy amounts of YouTube.
