| Hi, I'm Nhi! I'm a fourth year Computer Science student at Cal. I enjoy exploring new places to eat, traveling, cooking and watching unhealthy amounts of YouTube. I'm also a TA for Data 100 so feel free to ask me any questions about that!
