| Hi! I'm Sam, a student studying EECS and education here at Berkeley. As an avid learner (I'm really into edX and online learning) and an enthusiastic teacher (TA'ing for CS61AS right now!) I am super excited for you guys to learn about one of the most elegant frameworks around. In my spare time I enjoy biking, bouldering, and learning new things. This course is going to be awesome, and I hope you're ready to learn a lot!
