.main {
  section#intro {
    background-image:url('bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include breakpoint($desktop) {
      background-position: 0px -140px; 
    }
    @include breakpoint($not-desktop) {
      background-position: 0px 0px; 
    }
    @include breakpoint($big-desktop) {
      background-position: 0px -400px; 
    }
    background-attachment:fixed;

    .about-intro {
      padding: 150px 0;
    }

    .attention-grabber {
      padding: 100px 0;
    }
  }

  section#tas {
    .tas-wrapper {
      padding: 100px 0;
      margin: 0 auto;
      content: "";
      display: table;
      max-width: 1000px;
      width: 100%;

      .ta {
        margin: 50px auto;
      }

      .description {
        line-height: 1.8em;
        position: relative;
        height: 100%;
        text-align:left;
      }

      .image {
        float: right;
        width: 33.33333333333333%;
        margin-left: 16.666666666666664%;
        padding-top: 50px;
        display: inline;
      }

      .image-container {
        text-align: center;
      }
    }
  }

  section {
    .about-section {
      padding: 100px 0;
      margin: 0 auto;
      content: "";
      display: table;
      max-width: 1000px;
      width: 100%;

      .description {
        line-height: 1.8em;
        position: relative;
        height: 100%;
      }

      .bubble {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: #7F7F7F solid 3px;
      }

      .bubble.left:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
        right: -15px;
        top: 190px;
        @include breakpoint($not-desktop) {
          border-width: 15px 15px 0;
          border-color: #FFFFFF transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: 99%;
          left: 48%;
        }
      }

      .bubble.left:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 17px 0 17px 17px;
        border-color: transparent #7F7F7F;
        display: block;
        width: 0;
        z-index: 0;
        right: -20px;
        top: 188px;
        @include breakpoint($not-desktop) {
          border-width: 17px 17px 0;
          border-color: #7F7F7F transparent;
          display: block;
          width: 0;
          z-index: 0;
          top: 100%;
          left: 47.5%;
        }
      }

      .bubble.right:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent $light-gray;
        display: block;
        width: 0;
        z-index: 1;
        left: -15px;
        top: 190px;
        @include breakpoint($not-desktop) {
          border-width: 0 15px 15px;
          border-color: $light-gray transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: -15px;
          left: 48%;
        }
      }

      .bubble.right:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 17px 17px 17px 0;
        border-color: transparent #7F7F7F;
        display: block;
        width: 0;
        z-index: 0;
        left: -20px;
        top: 188px;
        @include breakpoint($not-desktop) {
          border-width: 0 17px 17px;
          border-color: #7F7F7F transparent;
          display: block;
          width: 0;
          z-index: 0;
          top: -19px;
          left: 47.5%;
        }
      }

      .image {
        float: right;
        width: 33.33333333333333%;
        margin-left: 16.666666666666664%;
        padding-top: 50px;
        display: inline;
      }

      .image-container {
        text-align: center;
      }

      .image-top {
        padding-bottom: 50px;
      }

      .image-bottom {
        padding-top: 100px;
        @include breakpoint($not-desktop) {
          padding-bottom: 100px;
        }
      }
    }
  }

  section#about-mark {
    background-color: white;
  }

  section#about-sam {
    background-color: $light-gray;
  }

  section#schedule {
    background-color: #1d1f20;
    .schedule-container {
      padding: 100px 0;
    }

    .one {
      margin-top: 80px;
    }

    .two {
      margin-top: 55px;
    }

    .three {
      margin-top: 50px;
    }

    .timeline-image img {
      max-width: 50px;
      margin: auto;
      display: table;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      float: left;
      float: right;
    }
  }
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
