.main {
  section#intro {
    background-image:url('otherbg.jpg');
    background-size: cover; 
    background-position:center; 

    .about-intro {
      padding: 150px 0;
    }
  }

  section#about {
    background-color: $lighter-blue ;

    .attention-grabber {
      padding: 100px 0;
    }
  }

  section#tas {
    .tas-wrapper {
      padding: 100px 0;
    }
  }

  section {
    .about-section {
      padding: 100px 0;
      margin: 0 auto;
      content: "";
      display: table;
      max-width: 1000px;
      width: 100%;

      .description {
        line-height: 1.8em;
        position: relative;
        height: 100%;
      }

      .image {
        float: right;
        width: 33.33333333333333%;
        margin-left: 16.666666666666664%;
        padding-top: 50px;
        display: inline;
      }

      .image-container {
        @include breakpoint($mobile) {
          text-align: center;
        }
      }

      .image-top {
        padding-bottom: 50px;
      }

      .image-bottom {
        padding-top: 50px;
      }
    }
  }

  section#about-mark {
    background-color: white;
  }

  section#about-sam {
    background-color: $light-gray;
  }

  section#schedule {
    background-color: $rails-red;

    .schedule-container {
      padding: 100px 0;
    }

    .one {
      margin-top: 80px;
    }

    .two {
      margin-top: 55px;
    }

    .three {
      margin-top: 50px;
    }

    .timeline-image img {
      max-width: 50px;
      margin: auto;
      display: table;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      float: left;
      float: right;
    }
  }
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
