body {
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;

  .center {
    text-align: center;
  }

  .white {
    color: white;
  }

  .dark-link {
    color: rgba(0,0,0,0.85);
    text-decoration: none;
    font-weight: bold;
  }

  .light-link {
    color: $light-gray;
  }

  .underline {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }

  .flat-button {
    display: inline-block;
    padding: 15px 60px;
    border: 0;
    text-shadow: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #FFF;
    background-color: $founders-rock-blue;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .round-with-border {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    border: 5px solid #e3e3e3;
  }

  .main {
    section#intro {
      background-color: $founders-rock-blue;

      .about-intro {
        padding: 100px 0;
      }
    }

    section#about {
      background-color: $medalist-gold;

      .attention-grabber {
        padding: 100px 0;
      }
    }

    section {
      .about-section {
        padding: 100px 0;
        margin: 0 auto;
        content: "";
        display: table;
        max-width: 1000px;
        width: 100%;

        .description {
          line-height: 1.8em;
          position: relative;
          height: 100%;
          float: left;
          width: 50%;
        }

        .image {
          float: right;
          width: 33.33333333333333%;
          margin-left: 16.666666666666664%;
          padding-top: 50px;
          display: inline;
        }
      }
    }

    section#about-mark {
      background-color: white;
    }

    section#about-sam {
      background-color: $light-gray;

      .about-section {
        .description {
          float: right;
          margin-left: 16.666666666666666664%;
        }

        .image {
          float: left;
          margin-left: 0;
        }
      }
    }

    section#schedule {
      background-color: $rails-red
    }
  }
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
