.flat-button {
  display: inline-block;
  padding: 15px 60px;
  border: 0;
  text-shadow: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  background-color: $main-color;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 0;
  font-size: 16px;
  font-weight: 700;
}

.flat-button:hover {
  color: white;
}

.round-with-border {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  border: 5px solid #e3e3e3;
}
