// Red
$rails-red: #B02B2C;

// Blue
$founders-rock-blue: #2D637F;
$lawrence: #00B0DA;

// Green
$lap-lane: #00B2A5;

// Yellow and Gold
$medalist-gold: #E09E19;
$ion: #CFDD45;
$soybean: #9DAD33;

// Orange
$golden-gate: #ED4E33;

// Grays
$header-gray: #e6e6e6;
$light-gray: #f5f5f5;

// Pink
$rose-garden: #EE1F60;
