html, body {
  height: 100%;
}

body {
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;

  @include breakpoint($mobile) {
    padding-top: 0px;
  }
}

footer {
  padding: 50px;
  background-color: $red;

  p {
    margin: 0;
  }
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.dark-link {
  color: rgba(0,0,0,0.85);
  text-decoration: none;
  font-weight: bold;
}

.light-link {
  color: $light-gray;
}

.underline {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}
