body {
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;

  .white {
    color: white;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }

  .main {
    section.intro {
      background-color: #B02B2C;
    }

    section.instructors {
      background-color: #555557;
    }
  }
}
