<p> Dear <%= @student_application.first_name %>, </p>

<p>
  We have received your application for the Rails Decal <%= @semester.name %> Semester.
  We will review applications by <%= @semester.formatted_acceptance_release_date %>.
</p>


<p> Thanks, </p>
<p> Rails Decal Staff </p>
