| Hi, I'm Daniel, a first year Computer Science major here at UC Berkeley. I love playing video games, swimming, running, and paddle boarding. I am really eager to help out with this amazing DeCal! I had a great time with it in the fall, and would certainly recommend it to all. 
