| Hello everyone! I am a third-year majoring in Business and Computer Science. I love building web applications that create social impact. I'm currently working with some of Cal students on an online non-profit initiative that is using design on apparel to generate awareness for causes that deserve more attention. I also love playing basketball and meeting new people. Get ready for an exciting DeCal!
