| Hi, I'm Erica! I'm currently a third year studying Computer Science. I'm a chubby puppy fanatic, badminton player, avid Yelper, and an egg yolk connoisseur. My love for food knows no bounds, and I can eat my weight in Korean food. I also peel shrimp really quickly.
