| Hi! I'm Ethan - web developer and computer science-hopeful with a penchant for podcasts, design, and peanut butter and jelly sandwiches. Ask me about any of the above and how I feel about my buddy Ken Chen.