| Hi, I'm Howard a CS major at UC Berkeley and a software engineer at Salesforce.  I love teaching because I simply like the idea of passing on knowledge, and Computer Science is super interesting, or I just might be a huge nerd.  In my free time I like to just chill with my friends and catch up on my sleep!