| Hi, I'm Hubert, a third year Computer Science major here at UC Berkeley. I love programming, especially with Ruby on Rails -- it's just so fun and intuitive. By the end of this course, you will fall in love with Ruby on Rails.. or Howard :) Hope to see you around! Does anybody even read this? 
