| Hi I'm Hubert. I'm a fourth year Computer Science major here at UC Berkeley. I love programming, especially with Ruby on Rails -- it's just so fun and intuitive. Come to my office hours, keep me busy!
