| Hey! I'm Jessica, a CS and CogSci double here at Cal. I very much enjoy bouldering, playing League, and tickling my puppy in my free time. I am also an aspiring fountain pen collector, so hit me up if you too love fancy, smooth nibs!