| Hi everyone! I am a third-year CS major. I'm passionate about web and iOS development. My first iOS app iHackerNews is going to be released soon so make sure you check it out! Come to me for any questions you have and I'm always willing to help!
