| Hi everyone! I am a second-year CS major. I like building websites that both look good and can be used by people. I am working on a personal project named "Groupify" which aims to encourage communication between students by putting them into groups with certain topics. I love playing basketball, working out and doing personal projects. Welcome to the world of Ruby on Rails!
