| Hi, I'm Kelly. I am a 4th year CS major here at Cal. I enjoy dancing, traveling, playing puzzle games, and crafting. Come to my office hours and let's be friends so I can stop bothering my roommates!