| Hi, I'm Lois. I'm currently a 3rd year CS student here at Berkeley. For me, CS feels like one giant brain teaser/puzzle that I get to slowly put together. When I have free time, I love playing board games, eating good food, reading, and trying out new things outdoors.