| Hi! I'm Mei, a junior majoring in CS. I was born and raised in Kuala Lumpur, Malaysia until I was 15, then went to boarding school in Melbourne, Australia to finish up high school. I interned at Twitter this past summer on the infrastructure team. I love anything outdoorsy, food-related or travel-related. Looking forward to this semester with you guys!
