| Hi! I'm Mei, a junior double majoring in CS and Business Administration. I was born and bred in Kuala Lumpur, Malaysia until I was 15, then went to a private all girls' boarding school in Melbourne, Australia to finish up high school. I love anything outdoorsy, food-related or travel-related. Looking forward to this semester with you guys!
