| Hi, I'm Nhi. I'm a third year Computer Science student at Cal. I'm passionate about new technologies that make our lives easier and more efficient - like Rails! Outside of school activities, I enjoy exploring new places to eat, listening to music, and playing board games.
