| I am a 2nd year at Cal studying Computer Science. My interests include web development, poker, the social sector, chess, board games, and investing. On campus, I am a developer at Cal Blueprint, a consultant at The Berkeley Group, and an Operations Officer at Berkeley Investment Group. I currently work as a software engineering intern at Salesforce, as a programmer at Rescomp, and will be interning at Intuit this summer.