| Hi guys! I am a 2nd year at Cal studying Computer Science, and I love building tools that solve real-world problems. In my free time, I play strategy board games, trying new things, and having meals with friends. 