| Hi there! I'm Warren, a Computer Science student here at Cal. I like meeting new people and learning new things. Besides at office hours, you can find me at the gym working out or playing basketball. If you ever have any questions about anything, I'd love to help!
