| Hi everyone, I’m Wilson! A huge passion of mine is martial arts, which I’ve been doing for almost 14 years. I also love landscape photography, traveling, and football (huge 49ers fan, we can talk for hours XD).