| Hey! My name is Wonjun, a CS major at Cal. I'm passionate about helping those in need, especially through utilizing technology. I love meeting new people and spending time with friends doing anything and everything. I hope you're just as excited about this course as I am!